.lista{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pelicula{
  width: 20%;
  margin-right: 3%;
  margin-top: 2%;
}

.busqueda{
  width: 1000px;
  margin-top: 20px;
 margin-left: 50px  ;
}